@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* General body styles */
.mainFile {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7fafc;
}

/* Header styles */
.header {
    background-color: white;
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap; /* Ensure it wraps for smaller screens */
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo_img {
    width: 80px;
    height: auto;
}

.logo_name {
    margin-left: 12px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #1a202c;
}

/* Navigation styles */
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.nav a {
    color: #4a5568;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}

.nav a:hover {
    color: #2563eb;
}

/* Hero section styles */
.hero-container {
    background-color: #f7fafc; /* Light gray background */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    flex-direction: column; /* Stack content vertically */
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
}

.hero-image-container {
    flex: 1;
    margin-bottom: 20px;
    text-align: center;
}

.hero-image {
    width: 80%;
    height: auto;
}

.hero-text-container {
    flex: 1;
    text-align: center;
    font-size: 20px;
}

.hero-title {
    font-size: 2rem;
    font-weight: bold;
}

.typewriter {
    color: #2563eb;
}

.divider {
    width: 100px;
    height: 2px;
    background-color: #2563eb;
    margin: 10px auto;
}

.hero-description {
    line-height: 1.75;
    margin-bottom: 20px;
}

.cta-container {
    display: flex;
    justify-content: center;
}

.cta-button {
    background-color: #1a202c;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #4a5568;
}

/* Typewriter effect */
.typewriter {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #2563eb;
    border-right: 3px solid;
    padding-right: 5px;
    animation: blink 0.75s step-end infinite;
}

.typewriter-text {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}



@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* About Section Styles */
.about-section {
    background-color: #f7fafc; /* Light gray background */
    padding: 50px 20px; /* Spacing around the section */
    

  }
  
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  
  .about-image {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1a202c;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #4a5568;
    margin-bottom: 30px;
  }
  
  .about-button-container {
    display: flex;
    justify-content: center;
  }
  
  .about-button {
    background-color: #1a202c; /* Dark gray */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }
  
  .about-button:hover {
    background-color: #4a5568; /* Hover effect */
  }
  
  /* General Section Styles */
.skills-section {
    background-color: #f7fafc;
    padding: 4rem 1rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .section-header {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .section-header h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #4a5568;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
  }
  
  .section-header h1 {
    font-size: 2rem;
    color: #1a202c;
    font-weight: bold;
  }
  
  /* Skills Row */
  .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
  }
  
  /* Skill Card Styles */
  .skill-card {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 30%; /* Adjust for 3 items per row */
    max-width:  33.333% ; /* Max width for each card */

  }
  
  .skill-icon {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1a202c;
    margin-bottom: 1rem;
  }
  
  .skill-progress {
    background-color: #e2e8f0;
    height: 1rem;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem 0;
  }
  
  .skill-progress-inner {
    background-color: #2563eb;
    height: 100%;
    transition: width 0.4s ease;
  }
  
  .skill-percentage {
    font-size: 0.875rem;
    color: #4a5568;
    margin-top: 0.5rem;
  }

/* General Section Styles */
.project_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 1.25rem;
}

.project-header {
    text-align: center;
    margin-bottom: 3rem;
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    color: #1a202c;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project-item {
    position: relative;
    width: 100%;
    max-width: 80%;
    background-color: #f7fafc;
    padding: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
}

.project-content {
    position: relative;
    z-index: 10;
}

.project-heading {
    font-size: 2rem;
    color: #1a202c;
    margin-bottom: 1rem;
}

.project-description {
    font-size: 1rem;
    color: #4a5568;
}

.project-link {
    color: #2563eb;
    font-size: 1.2rem;
    text-decoration: underline;
}

.project-link:hover {
    color: #1a202c;
}

/* Project Card Styles */
.project-list {
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.project-card {
    width: 48%;
    background-color: #f7fafc;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
}
/* General section styling */
.contact-section {
    position: relative;
    background-color: #f7fafc;
}

.map-container {
    position: absolute;
    inset: 0;
    background-color: #e2e8f0;
}

.map {
    width: 100%;
    height: 100%;
    filter: contrast(1.2) opacity(0.4);
    border: none;
}

.contact_container {
    padding: 6rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-container {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    z-index: 10;
}

.contact-title {
    font-size: 2rem;
    font-weight: 500;
    color: #1a202c;
    margin-bottom: 1rem;
}

.contact-description {
    font-size: 1rem;
    color: #718096;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-label {
    font-size: 0.875rem;
    color: #4a5568;
    margin-bottom: 0.5rem;
}

.contact-input,
.contact-textarea {
    background-color: #fff;
    border: 1px solid #d1d5db;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    transition: border-color 0.3s;
}

.contact-input:focus,
.contact-textarea:focus {
    border-color: #4299e1;
    outline: none;
}

.contact-button {
    background-color: #1a202c;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #2d3748;
}
/* Footer Styles */
.footer-container {
    background-color: #f0f8ff; 
    padding: 20px 0;
    height: 5rem;
  }
  
  .footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #4b5563; 
  }
  
  .footer-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1f2937;
    
  }
  
  .logo-image {
    width: 50px;
    height: auto;
  }
  
  .logo-text {
    font-size: 1.25rem;
    margin-left: 10px;
  }
  
  .footer-text {
    font-size: 0.875rem;
    color: #6b7280;
    margin-top: 10px;
  }
  
  .footer-icons {
    display: flex;
    margin-top: 10px;
  }
  
  .footer-icon {
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.875rem;
    color: #6b7280;
  }
  
  .footer-icon.facebook:hover {
    color: #3b5998; 
  }
  .footer-icon.linkedin:hover {
    color: #0e76a8; 
  }
  


/* Responsive styles */
@media (max-width: 768px) {
    .header {
        padding: 10px 0;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .logo_img {
        width: 60px;
    }

    .nav {
        flex-direction: row; 
        align-items: center;  
        gap: 10px;            
    }
    .nav a {
        margin: 5px 0; 
        font-size: 18px;
    }

    .hero-container-inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      
    }
  
    .hero-image-container {
      width: 90%;
      display: flex;
      justify-content: center;
     
    }
  
    .hero-image {
      max-width: 200px;
      width: 70%;
      height: auto;

    }
  
    .hero-text-container {
      width: 100%;
      font-size: 16px;
      text-align:center;
    }

    .hero-title {
        font-size: 1.75rem;
    }
    .hero-description{
        font-size: 16px;
    }
    .typewriter-text {
      font-size: 2rem;
      font-weight: bold;
      color: #333;

    }
    .cta-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
    .about-title {
        font-size: 2rem; 
      }
    .about-image{
        width: 40%;
    }
    
      .about-description {
        font-size: 0.9rem;
      }
    
      .about-button {
        font-size: 0.9rem; 
        padding: 8px 16px; 
      }
      .section-header h1 {
        font-size: 1.75rem;
      }
      .skills-row {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align the items */
      }
    
      .skill-card {
        width: 90%; /* Set an equal width for all cards */
        max-width: 400px; /* Restrict the maximum width for better appearance */
        padding: 1.5rem; /* Consistent padding */
        margin-bottom: 1.5rem; /* Add space between cards */
        text-align: center; /* Center content inside the card */
        box-sizing: border-box; /* Include padding in width calculations */
      }
    
      .skill-progress {
        width: 100%; /* Ensure progress bar stretches to fit */
      }
      .project-card, .project-item{
        width: 80%;
    }

    .project-list {
        flex-direction: column;
        align-items: center;
        
    }
    .project-card img {
        width: 100%;  
        height: auto;  
        object-fit: cover;
    }
    .project-item {
        width: 100%;
        margin-bottom: 2rem;
    }
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
      }
    
      .footer-text {
        border-left: 2px solid #d1d5db; 
        padding-left: 10px;
        margin: 0;
        font-size: 12px;
      }
    
      .footer-icons {
        margin: 0;
      }
    }

@media (max-width: 480px) {
    .header{
      padding: 5px 0;
    }
    .hero-image{
      width: 60%;
    }
    .hero-title {
        font-size: 1.5rem;
    }

    .typewriter {
        font-size: 1.5rem;
    }

    .cta-button {
        font-size: 0.875rem;
        padding: 6px 12px;
    }
    .about-image {
        width: 150px; 
        height: 200px;
        margin-top: 30px;
      }
    
      .about-title {
        font-size: 1.75rem;
      }
    
      .about-description {
        font-size: 0.85rem;
      }
    
      .about-button {
        font-size: 0.85rem;
        padding: 6px 12px;
      }
      .section-header h1 {
        font-size: 1.5rem;
      }
    
      .skill-card {
      flex: 1 1 100%;
      }
    
      .skill-progress {
        height: 0.75rem;
      }
}
